.eduk-container-fluid {
  @include make-container();
}

.eduk-container {
  @include make-container();
  @include make-container-max-widths();
}

.eduk-row {
  @include make-row();
}

.eduk-no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .eduk-col,
  > [class*="eduk-col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

@include make-grid-columns();
