$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$grays: ();
$grays: map-merge(("100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900),
  $grays);

$primary: #f97300;
$secondary: #0E9BE4;
$tertiary: #5d5d5d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: $gray-300;
$dark: $gray-800;

$theme-colors: ();
$theme-colors: map-merge(("primary": $primary,
    "secondary": $secondary,
    "tertiary": $tertiary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark),
  $theme-colors);

$spacer: 1rem;
$spacers: ();

$spacers: map-merge((0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3)),
  $spacers);

$border-width: 1px;
$border-color: $gray-300;
$border-radius: 5px;

$padding-y: .375rem;
$padding-x: 1.5rem;

$body-color: $gray-900;
$body-bg: $gray-100;

$font-weight-lighter: lighter;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-bolder: bolder;

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&display=swap');
$font-family-base: 'Source Sans Pro',
sans-serif;
$font-weight-base: $font-weight-normal;

$font-size-base: 16px;
$font-size-lg: $font-size-base * 1.25;
$font-size-sm: $font-size-base * .875;

$line-height-base: 1.5;
$letter-spacing-base: .25px;

$text-muted: $gray-600;

// Darken percentage for links with `.text-*` class (e.g. `.text-success`)
$emphasized-link-hover-darken-percentage: 15%;

$btn-font-weight: $font-weight-semi-bold;
$btn-min-height: 35px;
$btn-min-width: 100px;
$btn-min-height-sm: 30px;
$btn-min-width-sm: 80px;
$btn-min-height-lg: 42px;
$btn-min-width-lg: 120px;
$btn-disabled-color: $gray-500;

$yiq-contrasted-threshold: 150;
$yiq-text-dark: $gray-900;
$yiq-text-light: $white;

$grid-gutter-width: 30px;

$container-max-widths: (sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px);

$grid-breakpoints: (xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px);