// Button sizes
@mixin button-size($min-width, $min-height, $font-size, $border-radius) {
  min-width: $min-width;
  min-height: $min-height;
  border-radius: $border-radius;
  @include font-size($font-size);
}
