// Button sizes
@mixin button-size($min-width, $min-height, $font-size, $border-radius) {
  min-width: $min-width;
  min-height: $min-height;
  border-radius: $border-radius;

  @include font-size($font-size);
}

@keyframes stretch {
  0% {
    transform: scale(0.7);
    background-color: $gray-200;
  }

  50% {
    background-color: $gray-100;
  }

  100% {
    transform: scale(1);
    background-color: $white;
  }
}

@mixin dot-animation {
  animation: {
    direction: alternate;
    duration: 0.5s;
    fill-mode: none;
    iteration-count: infinite;
    name: stretch;
    play-state: running;
    timing-function: ease-out;
  }

  border-radius: 100%;
  display: block;
  height: 10px;
  width: 10px;
}
