$accordion-item: '.eduk-accordion-item';

.eduk-accordion {
  display: block;
}

// Default Accordion Item
#{$accordion-item} {
  &__header {
    display: grid;
    grid-template-columns: 20px 1fr;
    grid-template-areas: "arrow title";
    align-items: center;
    padding: $accordion-header-padding-y $accordion-header-padding-x;
    cursor: pointer;
    color: $headings-color;
    user-select: none;

    @include hover() {
      color: $accordion-header-hover-color;
    }
  }

  &__header-title {
    grid-area: title;
    @include font-size($h6-font-size);
  }

  &__arrow {
    grid-area: arrow;
    color: $headings-color;
  }

  &__content {
    display: none;
    padding: $accordion-content-padding-y $accordion-content-padding-x;
    margin-left: $accordion-content-margin-left;
  }

  &:first-child {
    #{$accordion-item}__header {
      border-top-left-radius: $accordion-border-radius;
      border-top-right-radius: $accordion-border-radius;
    }
  }

  &:last-child {
    #{$accordion-item}__header {
      border-bottom-left-radius: $accordion-border-radius;
      border-bottom-right-radius: $accordion-border-radius;
    }
  }
}

// Accordion Item Active
#{$accordion-item}--active {
  #{$accordion-item} {
    &__header-title {
      color: $accordion-header-active-color;
    }

    &__content {
      display: block;
    }
  }
}

// Thick Header Accordion
.eduk-accordion--thick {
  #{$accordion-item} {
    &__header {
      padding: $accordion-header-padding-y-thick $accordion-header-padding-x;
    }
  }
}

// Reverse grid area from 'arrow title' to 'title arrow'
.eduk-accordion--inverted {
  #{$accordion-item} {
    &__header {
      grid-template-columns: 1fr 20px;
      grid-template-areas: "title arrow";
    }

    &__arrow {
      justify-self: end;
    }
  }
}

// Bordered Accordion
.eduk-accordion--bordered {
  border: $accordion-border;
  border-radius: $accordion-border-radius;

  #{$accordion-item} {
    &__content {
      padding: $accordion-content-padding-y calc(#{$accordion-header-padding-x} + #{$accordion-arrow-margin-x} + 8px);
      margin: 0;
    }

    &__header + #{$accordion-item}__content {
      border-top: $accordion-border;
    }

    & + #{$accordion-item} {
      border-top: $accordion-border;
    }
  }
}

// Theme Colored Accordion
@each $color, $value in $theme-colors {
  .eduk-accordion--#{$color} {
    #{$accordion-item} {
      &__header {
        background-color: $value;

        @include hover() {
          background-color: darken($value, $hover-darken-percentage);
        }
      }

      &__content {
        padding: $accordion-content-padding-y $accordion-header-padding-x;
      }

      &__header-title,
      &__arrow {
        color: color-yiq($value);
      }

      &__header + #{$accordion-item}__content {
        border-top: none;
      }

      & + #{$accordion-item} {
        border-top-color: color-yiq($value);
      }
    }

    #{$accordion-item}--active {
      #{$accordion-item} {
        &__header {
          background-color: transparent;
        }

        &__header-title,
        &__arrow {
          color: $value;
        }
      }
    }
  }
}

/** Accordion Loading Classes */
#{$accordion-item}--loading {
  pointer-events: none;

  #{$accordion-item}__header {
    height: calc((#{$accordion-header-padding-y} * 2) + #{$font-size-base} + 8px);
  }

  #{$accordion-item}__header-title {
    @include loading($h6-font-size + 8px);
  }
}

.eduk-accordion--thick > #{$accordion-item}--loading > #{$accordion-item}__header {
  height: calc((#{$accordion-header-padding-y-thick} * 2) + #{$font-size-base} + 8px);
}
