.eduk-btn {
  min-height: $btn-min-height;
  min-width: $btn-min-width;
  border: $border-width solid $border-color;
  border-radius: $border-radius;
  cursor: pointer;
  padding: $btn-padding-y $btn-padding-x;
  outline: none;
  text-decoration: none;
  text-align: center;
  @include font($font-family-base, $font-size-base, $btn-font-weight);

  &.disabled {
    background-color: $gray-100;
    color: $gray-500;
    border-color: $gray-200;
    pointer-events: none;
  }

  &--block {
    width: 100%;
  }

  /** Remove dot border from mozilla when clicked */
  &::-moz-focus-inner {
    border: 0;
  }
}

/** Button Variants */
@each $color,
  $value in $theme-colors {
  /** TODO: [UIKIT-40] Change color from element to modifiers */

  /** Basic */
  .eduk-btn--#{$color} {
    border-color: darken($value, $hover-darken-percentage);
    background-color: $value;
    color: color-yiq($value);

    @include hover-focus {
      background-color: darken($value, $hover-darken-percentage);
      border-color: darken($value, $hover-darken-percentage * 2);
    }

    @include active {
      box-shadow: inset 0 0 5px darken($value, $hover-darken-percentage + 10%);
      color: darken($value, $hover-darken-percentage + 20%);
    }
  }

  /** Outline */
  .eduk-btn--#{$color}.eduk-btn--outlined {
    border-color: darken($value, $hover-darken-percentage);
    background-color: transparent;
    color: $value;

    @include hover-focus {
      background-color: darken($value, $hover-darken-percentage);
      border-color: darken($value, $hover-darken-percentage * 2);
      color: color-yiq($value);
    }

    @include active {
      box-shadow: inset 0 0 5px darken($value, $hover-darken-percentage + 10%);
      color: darken($value, $hover-darken-percentage + 20%);
    }
  }
}

/** Button Sizes */
.eduk-btn--sm {
  @include button-size($btn-min-width-sm, $btn-min-height-sm, $font-size-sm, $border-radius);

  padding: $btn-padding-y-sm $btn-padding-x-sm;
}

.eduk-btn--lg {
  @include button-size($btn-min-width-lg, $btn-min-height-lg, $font-size-base, $border-radius);
}

/** Loading Button Animation */
.eduk-btn--loading {
  pointer-events: none;

  span {
    @include dot-animation;

    animation-delay: 0.1s;
    margin: -5px auto 0;

    &::before {
      @include dot-animation;

      animation-delay: 0s;
      content: '';
      margin-top: 5px;
      margin-left: 18px;
    }

    &::after {
      @include dot-animation;

      animation-delay: 0.2s;
      content: '';
      margin-top: -10px;
      margin-left: -18px;
    }
  }
}
