.eduk-card {
  display: inline-block;
  border-radius: $card-border-radius;
  background-color: transparent;
  max-width: 300px;
  width: 100%;

  &__header,
  &__content {
    position: relative;
    height: 100%;
  }

  &__header--padded,
  &__content--padded {
    padding: $card-content-padding;
  }

  &__actions {
    position: absolute;
    display: inline-flex;
    align-items: center;
    top: $card-actions-offset;
    right: $card-actions-offset;
  }

  &__actions > &__action {
    margin-left: $card-action-margin;
    cursor: pointer;
  }

  &__actions > &__action--active {
    color: $card-action-active-color;
  }

  &__actions--baseline {
    top: auto;
    bottom: $card-actions-offset;
  }

  &__image {
    height: $card-image-height;
    display: block;
    padding: $card-image-padding;
    background-color: $card-image-background-color;
    background-size: cover;
    background-position: center;
  }

  &--bordered {
    border: $card-border;
  }

  &--block {
    display: block;
    max-width: none;
  }

  &--text-invert *:not(button) {
    color: $white;
  }

  &--horizontal {
    display: flex;
    max-width: none;
  }

  &--horizontal > &__image {
    width: $card-image-horizontal-height;
    height: auto;
  }

  &--horizontal > &__content {
    flex: 1;
  }

  &--horizontal-invert &__image {
    order: 2;
  }

  &--horizontal-invert &__content {
    order: 1;
  }

  &--elevated {
    box-shadow: $card-shadow;
    border: $card-border;
    background-color: $white;
  }
}

/** Card Loading Classes */
.eduk-card--loading {
  &:not(.eduk-card--horizontal)::after {
    display: block;
    margin: $card-content-padding;
    content: '';
    @include loading($font-size-base, calc(40px + 60%));
  }

  .eduk-card__content {
    padding: 0 $card-content-padding;
    height: 150px;

    &::before {
      display: block;
      content: '';
      margin: $spacer 0;
      @include loading($h6-font-size + 8px, calc(30px + 40%));
    }

    &::after {
      display: block;
      content: '';
      @include loading($font-size-base, calc(40px + 60%));
    }

    > * {
      display: none;
    }
  }

  .eduk-card__image {
    background-image: none !important;
    background-color: $gray-400;
    margin-bottom: $spacer;

    > * {
      display: none;
    }
  }

  .eduk-card__header {
    display: block;
    content: '';
    margin: $spacer;
    @include loading($h6-font-size + 8px, calc(30px + 40%));

    > * {
      display: none !important;
    }
  }

  &.eduk-card--horizontal > .eduk-card__image {
    height: $card-image-horizontal-height;
    margin-bottom: 0;
  }
}
